body{
    background-image: url("./images/Calicut_Beach.jpg");
    background-size: cover;
    
}
.accordion{
    position: relative;
    top: 100px;
}
.d1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 50px;
    font-style: unset;
}
    